<footer class="footer">
  <div class="footer-links">
    <a href="{{ "/about-us/" | relURL }}">About Us</a>
    |
    <a href="{{ "/contact-us/" | relURL }}">Contact</a>
    |
    <a href="{{ "/privacy-policy/" | relURL }}">Privacy Policy</a>
    |
    <a href="{{ "/use-of-cookies-policy/" | relURL }}">Use of Cookies Policy</a>
    |
    <a href="{{ "/affiliate-disclosure/" | relURL }}">Affiliate Disclosure</a>
    |
    <a href="{{ "/site-map/" | relURL }}">Sitemap</a>
  </div>
  <p>© 2026 AITechReviews. All Rights Reserved.</p>
</footer>
