{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ if .Params.featured }}Article{{ else }}NewsArticle{{ end }}",
  "headline": {{ .Title | jsonify }},
  "description": {{ with .Params.description }}{{ . | jsonify }}{{ else }}{{ .Summary | jsonify }}{{ end }},
  {{ with .Params.featured_image }}"image": {{ . | jsonify }},{{ end }}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  {{ with .Date }}"dateModified": "{{ .Format "2006-01-02T15:04:05Z07:00" }}",{{ end }}
  "author": {
    "@type": "Person",
    "name": {{ with .Params.author }}{{ . | jsonify }}{{ else }}"AITechReviews"{{ end }}
  },
  "publisher": {
    "@type": "Organization",
    "name": "AITechReviews",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}images/logo.png",
      "width": 250,
      "height": 60
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
  {{ with .Params.keywords }},
  "keywords": {{ . | jsonify }}{{ end }}
}
</script>
{{ end }}
