{{- $title := (.Get "title") | default "Articles" -}}
{{- $dataUrl := (.Get "dataUrl") | default "" -}}
{{- $tableId := (.Get "tableId") | default "" -}}
{{- $col0 := (.Get "col0Label") | default "" -}}
{{- $col1 := (.Get "col1Label") | default "" -}}
{{- $col2 := (.Get "col2Label") | default "" -}}
{{- $col3 := (.Get "col3Label") | default "" -}}
{{- $col4 := (.Get "col4Label") | default "" -}}
{{- $col5 := (.Get "col5Label") | default "" -}}

{{ partial "main/global-table.html" (dict
  "Page" .Page
  "Title" $title
  "DataUrl" $dataUrl
  "TableId" $tableId
  "Col0Label" $col0
  "Col1Label" $col1
  "Col2Label" $col2
  "Col3Label" $col3
  "Col4Label" $col4
  "Col5Label" $col5
) }}
